# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
.VENV/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Pyenv
.python-version

# mypy
.mypy_cache/

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Sensitive or local config
*.env
.env.*

# IDE folders
.idea/

# Notebook checkpoints
.ipynb_checkpoints/
